server:
  port: 8070

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: post-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379

cloud:
  compatibility-verifier:
    enabled: false

cloudinary:
  cloud_name: ${YOUR_CLOUDINARY_NAME}
  api_key: ${YOUR_CLOUDINARY_API_KEY}
  api_secret: ${YOUR_SECRET}

token:
  signing:
    key: ${JWT_SECRET_KEY}
    lifetime: 3600000